<h1> Deals for <%= "#{params[:city]}" %></h1>
<%= params %>
<%= @deals.each do |record| %>
  <ul>
    <li><strong>Title:</strong> <%= link_to "#{record.short_title}", deal_path(record.offer_id) %></li>
    <li>Price: <%= record.price %></li>
  </ul>
<% end %>
